# Configuration file

general {
    # Dimension to spawn in.
    I:"Default Dimension"=0

    # X Coord to spawn in.
    I:"Default X Coord"=0

    # Y Coord to spawn in.
    I:"Default Y Coord"=66

    # Z Coord to spawn in.
    I:"Default Z Coord"=0
}


